//
// Adapted from http://keithclark.co.uk/articles/pure-css-parallax-websites/
//

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.parallax__layer--fore {
      transform: translate3D(0,0,0.1px);
    }

    &.parallax__layer--base {
      transform: translate3D(0,0,0.05px);
    }

    &.parallax__layer--back {
      transform: translate3D(0,0,0);
    }

    &.parallax__layer--deep {
      transform: translate3D(0,0,-0.1px);
    }
  }

}
