.icg-about {
  overflow: none;

  .icg-intro {
    @include sectionContainers();
    background-image: url("assets/images/StockSnap_V2XWJHNVE1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  }

  .icg-info {
    @include sectionContainers();
    background-color: #999;
    color: #fff;
  }

}
