@mixin view-container($applyResponsive) {
  padding: 1em 0;
  height: 100vh;
  width: 100vw;

  h1 {
    color: #fff;
  }

  p {
    font-size: 32px;
    line-height: 35px;
    color: #e9e9e9;
  }

  @if $applyResponsive == true {
    @include respond-to(medium-screens) {
      height: 100%;
    }
  }
}

.icg {
  .icg-home-container {

    .section-bottom {
      margin-top:8em;

      @include respond-to(medium-screens) {
        margin-top:1em;
      }
    }

    .icg-home-intro {
      @include view-container(false);

      background-image: url("../../assets/images/StockSnap_V2XWJHNVE1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .icg-home-services {
      @include view-container(true);
      background-color: #999;
    }

    .icg-home-mission {
      @include view-container(false);
      background-image: url("../../assets/images/StockSnap_F5TANEQVUH.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

  }
}
