@import '../Home/Home.scss';
@import '../About/About.scss';
@import '../Contact/Contact.scss';
@import '../../components/Parallax/Parrallax.scss';

.icg {
    text-size-adjust: none;
    font-family: 'Palanquin', 'Roboto', helvetica, arial, sans-serif;

    .icg-header {

    }

    .containerView {
      padding: 5em;
    }
}
