@import 'bourbon';
@import '../../assets/scss/mixins.scss';
@import '../Home/Home.scss';
@import '../About/About.scss';
@import '../Contact/Contact.scss';


.icg {
    text-size-adjust: none;
    font-family: 'Palanquin', 'Roboto', helvetica, arial, sans-serif;

    @include respond-to(medium-screens) {
      .mdl-layout__drawer-button {
          color: #fff;
      }
    }

    .icg-header {
      background-color: #1C3664;

    }

    h1 {
      color: #1C3664;
    }

    .containerView {
      padding: 5em;
    }
}
