@import './assets/styles/_mixins.scss';
@import './assets/styles/_defaults.scss';

@import '../node_modules/hover.css/scss/hover.scss';

/* components */
@import './components/Header/_header.scss';

/* containers */
@import './containers/Home/_home.scss';
@import './containers/Contact/_contact.scss';
@import './containers/About/_about.scss';

.icg {

  .float-right {
    float:right;
  }

  .float-left {
    float: left;
  }

  .full-width {
    width: 100%;
  }

  .centered {
    align-self: center;
    text-align: center;
  }

  .content {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .fullview-container {
    overflow: hidden;

    .fullview-item {
      height: 100vh;
      width: 100vw;
    }

  }

}
